html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
}

main section {
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

header {
  text-align: center;
  background-color: steelblue;
  padding: 20px;
}

a {
  color: black;
  text-decoration: none;
}

.notes_main {
  flex: 1;
}

a.NoteListNav__folder-link {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
  display: block;
}

.Folder_List {
  text-align: center;
}

a.NoteListNav__folder-link:hover,
a.NoteListNav__folder-link.active {
  text-shadow: 1px 1px 14px steelblue;
}

.note_list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.note_item {
  border: 1px solid #ffc800;
  background-color: #f5da77;
  flex: 1;
  border-radius: 0px 0px 10px 0px;
  padding: 10px 20px;
  margin: 20px;
  min-width: 20%;
}

p.noteName {
  margin: 4px 0 20px 0;
  font-size: 20px;
  font-weight: bold;
}

span.Date {
  font-size: 12px;
}

.note_list {
  text-align: center;
}

a.AddFolderLink,
a.AddNoteLink {
  background-color: #eee;
  padding: 5px;
  border: 1px solid #666;
  color: black;
  text-decoration: none;
  border-radius: 2px;
}

@media screen and (min-width: 401px) {
  main {
    flex-direction: row;
  }
  .Folder_List {
    text-align: left;
  }
}

.deleteNav {
  margin-left: 90%;
  color: red;
}
